body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contentGeral {
  display: flex;
  flex-direction: column;
  width: 950px;
  margin: 0 auto;
}

img {
  border-radius: 5px;
  max-width: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.animaLeft {
  opacity: 0;
  transform: translateX(-30px);
  animation: animaLeft .3s forwards;
}

@keyframes animaLeft {
  to{
    transform: initial;
    opacity: initial;
  }
}
.load {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid #6b6b6b;
  animation: loading .3s infinite;
  border-left-color: #a0a0a0;
  border-top-color: #a0a0a0;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.content {
  height: calc(100vh + 10rem);
  flex: 1;
}